body{
	background-image: url(../img/img-for-chimichanga/Primary_Brand_Tile.png);
	font-family: 'UniversLTW01-47LightCn', helvetica, arial, sans-serif;
}

textarea{
	resize: none;
}

input{
	font-family: 'UniversLTW01-47LightCn', helvetica, arial, sans-serif;
}

textarea:focus, input:focus{
    border-color: red !important;
}

.copy-input{
	height: 50px;
}
.btn-copy{
	background-color: black;
	padding-right: 37px;
    height: 50px;
    border-radius: 0;
}

.btn-copy:hover {
	background-color: black;
	border-radius: 0;
}

.article > .input-group {
    padding-left: 15px;
    padding-right: 15px;
}

.container-social{
	background: linear-gradient(to top, #F6A40C, #EF4035);
    padding: 15px;
    padding-bottom: 10px;
}

.position-center{
	text-align: center;
}

i{
	color: white;
	cursor: pointer;
}

.container-white{
	background-color: white;
}

.container-contant{
	background-image: url(http://img.taste.com.au/ouD8tICl/taste/2016/11/chicken-and-cheese-chimichangas-97477-1.jpeg);
	width: 99%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 	height: calc(100vh - 68px);
}

hr{
	border: 1px solid white;
}

.article > p{
    padding-left: 15px;
    color:white;
    padding-right: 10px;
}

.form-control{
	font-size: 20px;
}

.container-social > p, small{
	color: white;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    margin-left: -15px;
}

.form-control{
	border-radius: 0;
}

.container-social > p {
	padding-top: 10px;
}

.header{
	padding-top: 15px;
}

.width-line{
	width: 90%;
}

.article{
	background: linear-gradient(to top, #F6A40C, #EF4035);
	height: 150px;
	margin-bottom: 15px;
}

.about > p {
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 10px;
}

.list-inline>li{
	padding: 0;
	padding-right: 4px;
}
 
 header{
 	background: white;
 }
 
.social-button {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    padding-top: 9px;
}

.social-button > img {
	width: 58%;
}

 .logo{
	width: 290px;
}

 .position-container{
 	padding-top: 20px;
 }

.js-textareacopybtn {
	cursor: pointer;
}

@media screen and (min-width: 995px) , screen and (max-width: 1200px) {
	.about{
	background: linear-gradient(to top, #F6A40C, #EF4035);
	height: 326px;
	color: white;
}

.white-block {
    background-color: white;
    height: calc(100vh - 615px);
}
}

@media screen and (max-width: 990px) { 
.about{
	background: linear-gradient(to top, #F6A40C, #EF4035);
	height: auto;
	color: white;
	padding-bottom: 1px;
	margin-bottom: 10px;
}

.white-block {
    background-color: white;
    height: calc(100vh - 560px);
}
}

@media screen and (min-width: 1200px) { 
.about{
	background: linear-gradient(to top, #F6A40C, #EF4035);
	height:266px;
	color: white;
}

.white-block {
    background-color: white;
    height: calc(100vh - 560px);
}
}
